.page-title {
    margin-bottom: 30px;
}

/* CONTACT TEXT SECTION */
.contact-text-section {
    font-size: 16px;
    line-height: 28px;
}

.contact-text-caption {
    margin-bottom: 30px;
    text-align: center;
}

.contact-icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.far,
.fab {
    font-size: 28px;
}

/* FORM SECTION */
.contact-form-section {
    margin-top: 40px;
}

form {
    margin: 10px auto 0 auto;
}

.contact-form-container {
    border: none;
}

input,
textarea {
    /* border: 1px solid black; */
    border: none;
    background-color: rgb(255, 255, 255);
}

input:focus,
textarea:focus {
    outline: none;
}

.form-row {
    display: flex;
}

.row-1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}

.row-2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.row-3 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}

input#fname {
    border-right: 1px solid black;
}

#email,
#message {
    width: 100%;
}

.form-row input,
.form-row textarea {
    width: 50%;
    padding: 15px 15px;
}

textarea {
    min-height: 100px;
    resize: vertical;
    overflow: auto;
    font-family: 'Lato', sans-serif;
}

input::placeholder,
textarea::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: black;
}

#fname {
    border-right: none;
}

#email {
    border-top: none;
    border-bottom: none;
}

input[type="submit"] {
    display: block;
    padding: 10px 45px;
    box-shadow: 3px 3px 10px rgb(230, 230, 230);
    border: 1px solid black;
    width: fit-content;
    margin: 15px auto 0 auto;
    /* margin-top: 15px; */
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: transform 650ms; 
}

input[type="submit"]:hover {
    transform: translateY(-5px);
    transition: transform 650ms;
}

@media only screen and (min-width: 768px) {
    .main-body {
        padding-top: 125px;
    }
    .contact-text-section {
        font-size: 18px;
        line-height: 30px;
        width: 80%;
        margin: 0 auto 50px auto;
    }
    .contact-icon-container {
        margin: 0 auto;
        width: 60%;
    }
    .contact-form-section {
        width: 90%;
        margin: 40px auto 0 auto;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-text-section {
        font-size: 20px;
        line-height: 32px;
        width: 100%;
    }
    .contact-text-caption {
        text-align: left;
    }
    .contact-icon-container {
        margin: 0;
        display: flex;
        gap: 30px;
        width: 100%;
    }
    .contact-grid {
        padding: 40px 0;
        width: 65%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 75px;
    }
    .contact-form-section {
        margin: 0;
        width: 100%;
    }
    .contact-form-section .connect {
        margin: 0;
    }
}

/* FOOTER CHANGES TO CONTACT PAGE */
footer {
    border-top: none;
}

@media only screen and (min-width: 768px) {
    footer {
        position: absolute;
    }
}