/* HERO SECTION */
body {
    background: none;
}

.hero {
    background: linear-gradient(55deg, var(--baby-blue) 0%, var(--baby-periwinkle) 60%, var(--baby-pink) 85%);
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-size: cover;
    background-position: 75% 50%;
    position: relative;
}

.hero:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(19, 19, 19, 0.21);
    content: "";
}

.hero-text-container {
    width: 60%;
    margin-left: 50px;
    color: white;
    z-index: 1;
    transition: transform 1.5s;
}

.hero-text-container:hover {
    transform: translateX(50px);
    transition: transform 1.5s;
}

.hero-title {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

/* .underline {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
} */

.hero-subtitle {
    font-size: 38px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    /* padding-top: 5px; */
}

@media only screen and (min-width: 768px) {
    .hero-text-container {
        width: 60%;
        margin-left: 70px;
        padding-top: 50px;
    }
    .hero-title {
        font-size: 30px;
        letter-spacing: 0.2rem;
    }
    .hero-subtitle {
        font-size: 50px;
        line-height: 72px;
        letter-spacing: 0.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .hero {
        height: 100vh;
    }
    .hero-text-container {
        width: 70%;
        margin-left: 150px;
        position: relative;
        top: 50px;
        padding-top: 0;
    }
    .hero-title {
        font-size: 22px;
    }
    .hero-subtitle {
        font-size: 42px;
        line-height: 64px;
    }
}

/* PORTFOLIO SECTION */
body.portfolio-body {
    background: none;
}

.port-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.proj-pic-a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 650ms;
}

.proj-pic-a:hover {
    transform: translateY(-10px);
    transition: transform 650ms;
}

.proj-pic {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.proj-text-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proj-featured {
    font-size: 12px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.proj-title {
    margin: 10px auto;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 300;
    line-height: 36px;
}

.proj-caption {
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
}

.proj-button {
    display: block;
    padding: 10px 45px;
    box-shadow: 3px 3px 10px rgb(230, 230, 230);
    border: 1px solid black;
    width: fit-content;
    margin: 0 auto;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: transform 650ms;    
}

.proj-button:hover {
    transform: translateY(-5px);
    transition: transform 650ms;
}

/* COMING SOON MODAL */
.coming-soon-grid-item {
    position: relative;
}

.coming-soon-modal {
    position: absolute;
    top: 0;
    width: 280px;
    height: 425px;
    margin-left: 5px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 40px;
    background-color: white;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.coming-soon-modal.visible {
    display: flex;
}

.coming-soon-title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 24px;
    font-weight: 400;
}

.coming-soon-subtitle {
    letter-spacing: 0.1rem;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}

.coming-soon-button {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .port-grid {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin-bottom: 125px;
    }
    .proj-text-container {
        margin: 0;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .proj-featured,
    .proj-title,
    .proj-caption {
        text-align: left;
    }
    .proj-title {
        margin: 10px 0;
    }
    .proj-caption {
        font-size: 18px;
        line-height: 30px;
    }
    .proj-button {
        margin-left: 0;
    }
    .coming-soon-modal {
        margin-left: -10px;
        width: 300px;
        height: 250px;
    }
}

@media only screen and (min-width: 1200px) {
    .port-grid {
        grid-template-columns: 5fr 4fr;
        gap: 35px;
        width: 75%;
    }
    .proj-caption {
        font-size: 20px;
        line-height: 32px;
    }
    .coming-soon-modal {
        margin-left: -10px;
        width: 410px;
        height: 220px;
    }
}

/* SKILLS SECTION */
.main-body.main-skills {
    background: linear-gradient(-35deg, var(--baby-pink) 0%, var(--baby-periwinkle) 38%, var(--baby-blue) 85%);
    margin: 0;
    position: relative;
}

.main-body.main-skills:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(19, 19, 19, 0.095);
    content: "";
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 40px 100px 40px;
    margin: 0 auto;
}

.skill-container {
    text-align: center;
    padding: 30px;
    box-shadow: 5px 5px 10px var(--light-gray);
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-title {
    margin: 15px 0;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 300;
    line-height: 36px;
}

.skill-item {
    list-style: none;
    font-size: 16px;
    padding: 5px 0;
}

.tool-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 15px 0;
}

.card-software .tool-list {
    grid-template-columns: 1fr 1fr;
}

.tool-item-container {
    list-style: none;
}

.tool-text {
    padding-top: 5px;
}

.tool-item-container .far,
.tool-item-container .fas,
.tool-item-container .fab,
.connect .far,
.connect .fas,
.connect .fab {
    font-size: 36px;
    color: rgba(199, 144, 231, 0.769);
    transition: transform 0.5s;
}

.tool-item-container .far:hover,
.tool-item-container .fas:hover,
.tool-item-container .fab:hover,
.connect .far:hover,
.connect .fas:hover,
.connect .fab:hover {
    transform: scale(1.15);
}

.vv-made {
    width: 33px;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .main-body {
        padding-top: 125px;
    }
    .skills-grid {
        width: 60%;
        padding-bottom: 125px;
    }
    .skill-item {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-body.main-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0 125px 0;
        margin-bottom: 0;
        height: 100vh;
    }
    .skills-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        width: 90%;
        padding-bottom: 0;
    }
    .skill-item {
        font-size: 20px;
    }
}

/* FLIP CARD ON CLICK */
.card-scene {
    width: 100%;
    min-height: 350px;
    perspective: 1000px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.card-container {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
}

.skill-card-front,
.skill-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.skill-card-back {
    transform: rotateY(180deg);
}

.card-container.flip {
    transform: rotateY(180deg);
}

/* BIO SECTION */
.main-body-bio {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 100px;
}

.bio-title {
    margin-bottom: 25px;
}

.vv-bio-pic {
    width: 75%;
    margin: 0 auto;
    border-radius: 50px;
}

.bio-text {
    margin-top: 25px;
    line-height: 28px;
}

.contact-link {
    font-weight: 500;
    text-decoration: underline;
    margin-left: 5px;
}

.vv-bio-signature {
    width: 45%;
}

@media only screen and (min-width: 768px) {
    .main-body-bio {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        width: 80%;
        padding-bottom: 125px;
    }
    .bio-title {
        grid-column-start: 2;
        text-align: left;
        margin: 0;
    }
    .bio-title br {
        display: none;
    }
    .vv-bio-pic {
        width: 100%;
        height: 40%;
        object-fit: cover;
        object-position: center;
        grid-row-start: 1;
        grid-row-end: span 2;
    }
    .bio-text {
        font-size: 18px;
        line-height: 30px;
    }
    .bio-text:nth-child(1) {
        margin: 0;
    }
}

@media only screen and (min-width: 960px) {
    .vv-bio-pic {
        height: 65%;
        object-position: top;
    }
}

@media only screen and (min-width: 1200px) {
    .main-body-bio {
        width: 70%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 20px;
        margin: 0 auto;
    }
    .bio-title {
        align-self: end;
        padding-left: 20px;
    }
    .bio-title br {
        display: none;
    }
    .vv-bio-pic {
        height: 85%;
    }
    .bio-text {
        font-size: 20px;
        line-height: 32px;
        padding-left: 20px;
    }
    .vv-bio-signature {
        width: 35%;
    }
}

/* CONTACT SECTION */
.main-body.main-body-contact {
    background: linear-gradient(-35deg, var(--baby-blue) 0%, var(--baby-periwinkle) 38%, var(--baby-pink) 85%);
    position: relative;
}

.main-body.main-body-contact:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(19, 19, 19, 0.06);
    content: "";
    z-index: -1;
}

.main-body-contact {
    margin: 0;
    padding: 100px 50px 0 50px;  
}

.main-body-contact .page-title {
    margin-bottom: 30px;
}

.contact-grid {
    margin-bottom: 0;
    padding-bottom: 100px;
}

/* CONTACT TEXT SECTION */
.contact-text-section {
    font-size: 16px;
    line-height: 28px;
}

.contact-text-caption {
    margin-bottom: 30px;
    text-align: center;
}

.contact-icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* FORM SECTION */
.contact-form-section {
    margin-top: 50px;
}

.contact-form-title {
    text-align: center;
    margin-bottom: 15px;
}

form {
    margin: 10px auto 0 auto;
}

.contact-form-container {
    border: none;
}

input,
textarea {
    border: none;
    background-color: rgb(255, 255, 255);
}

input:focus,
textarea:focus {
    outline: none;
}

.form-row {
    display: flex;
}

.row-1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}

.row-2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.row-3 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}

input#fname {
    border-right: 1px solid black;
}

#email,
#message {
    width: 100%;
}

.form-row input,
.form-row textarea {
    width: 50%;
    padding: 15px 15px;
}

textarea {
    min-height: 100px;
    resize: vertical;
    overflow: auto;
    font-family: 'Lato', sans-serif;
}

input::placeholder,
textarea::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: black;
}

#fname {
    border-right: none;
}

#email {
    border-top: none;
    border-bottom: none;
}

input[type="submit"] {
    display: block;
    min-height: 20px;
    padding: 10px 45px;
    box-shadow: 3px 3px 10px rgb(230, 230, 230);
    border: 1px solid black;
    width: fit-content;
    margin: 15px auto 0 auto;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: transform 650ms; 
}

input[type="submit"]:hover {
    transform: translateY(-5px);
    transition: transform 650ms;
}

@media only screen and (min-width: 768px) {
    .main-body-contact {
        padding-top: 125px;
    }
    .contact-grid {
        padding-bottom: 125px;
    }
    .contact-text-section {
        font-size: 18px;
        line-height: 30px;
        width: 80%;
        margin: 0 auto 50px auto;
    }
    .contact-icon-container {
        margin: 0 auto;
        width: 60%;
    }
    .contact-form-section {
        width: 90%;
        margin: 40px auto 0 auto;
    }
    .contact-form-title {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-body.main-body-contact {
        height: 100vh;
    }
    .contact-text-section {
        font-size: 20px;
        line-height: 32px;
        width: 100%;
    }
    .contact-text-caption {
        text-align: left;
    }
    .contact-icon-container {
        margin: 0;
        display: flex;
        gap: 30px;
        width: 100%;
    }
    .contact-grid {
        padding: 40px 0;
        width: 65%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 75px;
    }
    .contact-form-section {
        margin: 0;
        width: 100%;
    }
    .contact-form-title {
        font-size: 20px;
    }
}