/* HERO SECTION */

body {
    background: none;
}

.hero {
    background-image: url("../photo/vv-portfolio-hero.png");
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-size: cover;
    background-position: 75% 50%;
}

.hero-text-container {
    width: 60%;
    margin-left: 50px;
}

.hero-title {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 38px;
    line-height: 54px;
    font-weight: 600;
    color: white;
}

@media only screen and (min-width: 768px) {
    .hero {
        background-position: 76% 50%;
    }
    .hero-text-container {
        width: 50%;
        margin-left: 70px;
    }
    .hero-title {
        font-size: 22px;
    }
    .hero-subtitle {
        font-size: 42px;
        line-height: 58px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-text-container {
        width: 35%;
        margin-left: 150px;
        position: relative;
        top: 50px;

    }
    .hero-title {
        font-size: 22px;
    }
    .hero-subtitle {
        font-size: 42px;
        line-height: 64px;
    }
}

/* PORTFOLIO SECTION */
body.portfolio-body {
    background: none;
}

.port-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 75px;
}

.proj-pic-a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 650ms;
}

.proj-pic-a:hover {
    transform: translateY(-10px);
    transition: transform 650ms;
}

.proj-pic {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.proj-text-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proj-featured {
    font-size: 12px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.proj-title {
    margin: 10px auto;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 300;
    line-height: 36px;
}

.proj-caption {
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
}

.proj-button {
    display: block;
    padding: 10px 45px;
    box-shadow: 3px 3px 10px rgb(230, 230, 230);
    border: 1px solid black;
    width: fit-content;
    margin: 0 auto;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: transform 650ms;    
}

.proj-button:hover {
    transform: translateY(-5px);
    transition: transform 650ms;
}


@media only screen and (min-width: 768px) {
    .main-body.main-portfolio {
        /* padding: 0; */
    }
    .port-grid {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .proj-text-container {
        margin: 0;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .proj-featured,
    .proj-title,
    .proj-caption {
        text-align: left;
    }
    
    .proj-caption {
        font-size: 18px;
        line-height: 30px;
    }
    .proj-button {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .port-grid {
        grid-template-columns: 5fr 4fr;
        gap: 35px;
        width: 75%;
    }
    .proj-caption {
        font-size: 20px;
        line-height: 32px;
    }
}

/* SKILLS SECTION */
.main-body.main-skills {
    background: linear-gradient(55deg, var(--baby-pink) 0%, var(--baby-periwinkle) 38%, var(--baby-blue) 85%);
    margin: 0;
    padding-top: 75px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 50px 75px 50px;
    margin: 0 auto;
}

.skill-container {
    text-align: center;
    padding: 30px;
    box-shadow: 5px 5px 10px var(--light-gray);
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
}

.skill-title {
    margin: 15px 0;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 300;
    line-height: 36px;
}

.skill-item {
    list-style: none;
    font-size: 16px;
    padding: 5px 0;
}

.tool-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.far,
.fas,
.fab {
    font-size: 36px;
    color: rgba(199, 144, 231, 0.769)
}

.vv-made {
    width: 33px;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .main-body {
        padding-top: 125px;
    }
    .skills-grid {
        width: 60%;
    }
    .skill-item {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-body.main-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0 125px 0;
        margin-bottom: 0;
    }
    .skills-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        width: 90%;
        padding-bottom: 0;
    }
    .skill-item {
        font-size: 20px;
    }
}

/* CONNECT WITH ME SECTION */
.main-contact {
    margin-bottom: 75px;
    padding-top: 75px;
}

.main-contact .page-title {
    margin-bottom: 30px;
}

.contact-text-section {
    font-size: 16px;
    line-height: 28px;
}

.contact-text-caption {
    margin-bottom: 30px;
    text-align: center;
}

.contact-icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .contact-text-section {
        font-size: 18px;
        line-height: 30px;
        width: 80%;
        margin: 0 auto 50px auto;
    }
    .contact-icon-container {
        margin: 0 auto;
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .main-contact {
        padding: 100px 0;
        margin-bottom: 0;
    }
    .contact-grid {
        display: block;
        margin-bottom: 0;
    }
    .contact-text-section {
        font-size: 20px;
        line-height: 32px;
        width: 60%;
        margin-bottom: 0;
    }
    .contact-text-caption {
        text-align: left;
        padding: 0 0 20px 0;
    }
    .contact-icon-container {
        margin: 0 auto;
        gap: 30px;
    }
}