/* GLOBAL UPDATES */
:root {
    --baby-pink: rgba(248, 226, 244, 0.843);
    --baby-periwinkle: rgba(227, 205, 240, 0.769);
    --baby-blue: rgba(190, 230, 248, 0.824);
    --lightest-gray: rgba(245, 245, 245,1);
    --light-gray: rgba(190, 190, 190,1);
    --medium-gray: rgba(133, 133, 133,1);
    --dark-gray: rgba(65, 65, 65,1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(55deg, var(--baby-pink) 0%, var(--baby-periwinkle) 38%, var(--baby-blue) 85%);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    min-height: 100vh;
}

.main-body {
    margin: 0px 50px;
    padding-top: 100px;
}

.page-title {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-bottom: 50px;
}

.global-grid {
    margin: 0 auto 50px auto;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 768px) {
    .main-body {
        margin: 0px 80px;
    }
}

/* NAV STYLES */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0 5px 30px;
    background-color: white;
    position: fixed;
    width: 100%;
}

.left-nav {
    width: 40%;
}

.right-nav {
    width: 60%;
}

.main-logo-a {
    width: 100%;
}

.vickie-logo {
    width: 100%;
    padding: 10px 0;
    object-fit: cover;
}

.burger {
    padding: 15px 30px 15px 10px;
    font-size: 20px;
    text-align: right;
    margin-left: 100px;
}

.right-nav-container {
    position: relative;
}

.right-nav-list {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    transition: opacity 0.5s linear;
}

.nav-item {
    list-style: none;
    padding: 15px 30px 15px 10px;
    font-size: 16px;
    text-align: right;
    display: none;
}

.nav-toggle {
    display: block;
}

@media only screen and (min-width: 500px) {
    .burger {
        font-size: 28px;
    }
}

@media only screen and (min-width: 650px) {
    .burger {
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px) { 
    .main-nav {
        justify-content: space-between;
        align-items: center;
        padding: 5px 30px;
    }
    .left-nav {
        width: 20%;
    }
    .right-nav-container {
        
        position: static;
    }   
    .burger {
        display: none;
    }
    .right-nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 0;
        position: static;
        opacity: 1;
    }
    .nav-item {
        display: block;
    }
    .nav-item:last-child {
        padding-right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .left-nav {
        width: 10%;
    }
}

/* FOOTER SECTION */
footer {
    border-top: 1px solid var(--light-gray);
    background-color: var(--lightest-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 15px 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 7vh;
}