body.portfolio-body {
    background: none;
}

.port-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 75px;
}

.proj-pic-a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 650ms;
}

.proj-pic-a:hover {
    transform: translateY(-10px);
    transition: transform 650ms;
}

.proj-pic {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.proj-text-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proj-featured {
    font-size: 12px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.proj-title {
    margin: 10px auto;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 300;
    line-height: 36px;
}

.proj-caption {
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
}

.proj-button {
    display: block;
    background-image: linear-gradient(55deg, var(--baby-pink) 0%, var(--baby-periwinkle) 38%, var(--baby-blue) 85%);
    padding: 10px 45px;
    box-shadow: 2px 2px 5px rgb(230, 230, 230);
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    z-index: 1;
    font-weight: 400;
    color: var(--dark-gray);
}

.proj-button:visited {
    color: var(--dark-gray);
}

.proj-button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(55deg, var(--baby-blue) 0%, var(--baby-periwinkle) 38%, var(--baby-pink) 85%);
    z-index: -1;
    transition: opacity 0.4s linear;
    opacity: 0;
    border-radius: 5px;
}

.proj-button:hover::before {
    opacity: 1;
}


@media only screen and (min-width: 768px) {
    .main-body.main-portfolio {
        /* padding: 0; */
    }
    .port-grid {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .proj-text-container {
        margin: 0;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .proj-featured,
    .proj-title,
    .proj-caption {
        text-align: left;
    }
    .proj-title {
        font-size: 30px;
    }
    .proj-caption {
        font-size: 18px;
        line-height: 30px;
    }
    .proj-button {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .port-grid {
        grid-template-columns: 5fr 4fr;
        gap: 35px;
        width: 75%;
    }
    .proj-featured {
        font-size: 16px;
    }
    .proj-title {
        font-size: 32px;
        line-height: 40px;
    }
    .proj-caption {
        font-size: 20px;
        line-height: 32px;
    }
}